@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
  background-color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #1f2937;
  padding-top: 10px;
  padding-bottom: 50px;
}

section {
  padding: 20px;
}

div.container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

div.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin: auto;

}

header a {
  font-size: 18px;
  color: #e5e7eb;
}

header#logo {
  font-size: 28px;
  color: #f9faf8;
}

nav ul {
  display: flex;
  list-style: none;

}

a {
  text-decoration: none;
}

section.introduction {
  background-color: #1f2937;
  display: flex;
  padding-bottom: 50px;
}

div.hero_div {
  flex: 1;
}

.introduction h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: extra-bold;
}

.introduction p {
  font-size: 18px;
  color: #e5e7eb;
}

div.placeholder {
  background-color: gray;
  flex: 1;
  text-align: center;
}

div.placeholder p {
  padding-top: 20%;
  padding-bottom: 20%;
}

button {
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 5px;
  margin-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#callToAction {
  background-color: #3882f6;
  width: 80%;
  margin: 80px auto;
  color: white;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#callToAction button {
  border: 1px solid white;;
}

.cta {
  padding-right: 0;
  padding-left: 0;
  display: flex;
}

.cta-button {
  justify-content: center;
}

.cta-container {
  justify-content: center;
}

.cta-container-2 * {
  padding: 3px;
}

h3 {
  font-weight: bold;
}

section.gallery h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937; 
  text-align: center;
  padding-bottom: 20px;
}

div.gallery-img {
  width: 20%;
}

div.gallery-container {
  display: flex;
  justify-content: space-around;
  margin-right: 10%;
  margin-left: 10%;
}

div.gallery-container p {
  width: 120px;
  text-align: center;
  padding-top: 5px;
}

div.div_placeholder {
  width:  120px;
  height: 120px;
  border: 1px solid #3882f6;
  border-radius: 5px;
}

section.quote {
  background-color: #e5e7eb;
  padding-top: 80px;
  padding-bottom: 80px;
}

blockquote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  width: 80%;
  margin: auto;
}

p#attribution {
  width: 80%;
  text-align: right;
  font-weight: bold;
}

footer {
  background-color:#1f2937;
  color: white;
  padding: 25px;
}