@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
  background-color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main, footer {
  width: 80%;
  margin: auto;
}

header {
  background-color: #1f2937;
}

div.container {
  display: flex;
  justify-content: space-around;
}

header a {
  font-size: 18px;
  color: #e5e7eb;
}

header#logo {
  font-size: 28px;
  color: #f9faf8;
}

nav ul {
  display: flex;
  list-style: none;

}

a {
  text-decoration: none;
}

section.introduction {
  background-color: #1f2937;
}

.introduction h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: extra-bold;
}

.introduction p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
}

#callToAction {
  background-color: #3882f6
}

section.gallery h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937; 
}

section.quote {
  background-color: #e5e7eb;
}

blockquote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}